@charset "UTF-8";

body{ 
	text-align: center;
	background-color: pink}

.Y a {
	
	text-decoration: none;
	font-size: 35px;
	color: black;
}

.N a {
	color: black;

	text-decoration: none;
	font-size: 35px;
}